<launch>
    <arg name="use_machine" default="false" />

    <node name="$(anon s3ros)" pkg="s3ros" type="s3ros" respawn="true" output="screen" unless="$(arg use_machine)" />
    <node name="$(anon s3ros)" pkg="s3ros" type="s3ros" respawn="true" output="screen" machine="snapdragon" if="$(arg use_machine)" />
</launch>
